{% extends 'base.html' %}

{% block content %}

<h1>Who is scheduled?</h1>
<br>
<div class="container text-center">
    <div class="row">
        <div class="col-sm-12">
            <h3>Time Bar</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">Name</div>
        <div class="col-sm-1">09:00</div>
        <div class="col-sm-1">10:00</div>
        <div class="col-sm-1">11:00</div>
        <div class="col-sm-1">12:00</div>
        <div class="col-sm-1">13:00</div>
        <div class="col-sm-1">14:00</div>
        <div class="col-sm-1">15:00</div>
        <div class="col-sm-1">16:00</div>
        <div class="col-sm-1">17:00</div>
        <div class="col-sm-1">18:00</div>
        <div class="col-sm-1">19:00</div>
    </div>
</div>

{% for schedule in object_list %}

<div>
    <!-- {{ schedule.last_name}} -->
    <!-- {{ schedule.shift}} -->
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-1">{{ schedule.emp_detail }}</div>
            <div class="col-sm-1 bg-primary">S</div>
            <div class="col-sm-1 bg-primary">S</div>
            <div class="col-sm-1 bg-primary">S</div>
            <div class="col-sm-1 bg-primary">S</div>
            <div class="col-sm-1 bg-primary">S</div>
            <div class="col-sm-1 bg-primary">S</div>
            <div class="col-sm-1 bg-primary">S</div>
            <div class="col-sm-1 bg-primary">S</div>
            <div class="col-sm-1 bg-primary">S</div>
            <div class="col-sm-1 bg-primary">S</div>
            <div class="col-sm-1 bg-primary">S</div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}